#projects{
  display: flex;
}
.flex-container {
    
    position: relative;
    left:10vw;
    top:8vw;
    font-size: 4vw;
    z-index: 1000;

    }
    
    .physical , .hci  ,.processing ,.web , .python {
    color:rgb(229, 218, 230);
    color:rgb(68,215,168,30);
    font-weight: 500;
    letter-spacing: 0.8vw;
    margin-left: 5vw;
    text-shadow: 1px 1px 4px rgba(238, 230, 230, 0.5); 
    cursor: pointer;
    
    
  }
  
  .physical:hover , .hci:hover  ,.processing:hover ,.web:hover , .python:hover {
    background: linear-gradient(90deg, #ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: gradanimate 10s  infinite ease-in-out;;
  
  }




